
<span ng-init="index.obroks()" ></span>
<span ng-init="index.lokals()" ></span>


    <div class="row ">
        <div class="col-xs-3 col-md-2  col-lg-2 navbarContainer">
            <button class="btn btn-default navbarButton"                                ng-click="index.sift('sve')"> Sve </button>
            <button class="btn btn-default navbarButton" ng-repeat="row in index.lokal" ng-click="index.sift(row['ime'])">{{ row['ime']}} </button>
        </div>


        <div class="col-sm-9 col-md-10  col-lg-10 pt-3 px-4 ">

            <div class="custom-inline-block">

                <h2>{{index.selected}}</h2>

                <button class="btn btn-default pull-right" style="float: right" ng-click="index.login()" ng-show="index.showUser ==false" > login </button>
                <button class="btn btn-default pull-right" style="float: right" ng-click="index.login()" ng-show="index.showUser ==true" > {{index.user}} </button>


            </div>

		<table st-table="rowCollection" st-safe-src="index.qrac" class="table table-striped">
			<thead>
			<tr>
				<th st-sort="firstName">ime</th>
				<th st-sort="lastName">lokal</th>
				<th st-sort="birthDate">opis</th>
				<th st-sort="balance">cena</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="ime" class="form-control" placeholder="search ..." type="search"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.ime}}</td>
				<td>{{row.lokal}}</td>
				<td>{{row.opis}}</td>
				<td>{{row.cena}}</td>
				<td>
				<button type="button" ng-click="index.mkOrder(row)" class="btn btn-sm btn-success">
					<!--<i class="glyphicon glyphicon-remove-circle"></i>-->
                    order
				</button>
				</td>
			</tr>
			</tbody>
		</table>

            </div>


        </div>

    </div>
