 <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>KOJI SI TI?</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model="login.username" />
            </br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <button  class="btn btn-primary btn-md" ng-click="login.login()">login <i class="fa fa-sign-in"></i></button>
            </span>
            </div>
            </div>
        
        </div>
    </div>