
<div class="modal-content">
    <div class="modal-header default-bg">
        <i class="ion-android-warning modal-icon"></i><span class="text-color-white text-align-center"> Unesite vaše cenjeno ime</span>
    </div>
    <div class="modal-body text-center">

        <input
                autofocus
                class="green-login-input"
                ng-enter="login.confirm()"
                ng-model="login.name"
                placeholder="unesite svoje ime, nikako tudje"
        >

    </div>
    <!--<span ng-controller="LoginController as login"></span>-->

    <div class="modal-footer">
        <button type="button" class="btn btn-primary green-bg pull-left" ng-click="login.confirm()" style="float:left; clear: both;"> confirm </button>
        <button type="button" class="btn btn-primary red-bg pull-right " ng-click="login.cancel()"> cancel / log out </button>
    </div>
</div>

