<!--<div ui-view>-->
<br>
dsjadjasopkdoaskdopkasopdkpoaskdopaksopdkop
<br>
dsjadjasopkdoaskdopkasopdkpoaskdopaksopdkop<br>
dsjadjasopkdoaskdopkasopdkpoaskdopaksopdkop
<br>
dsjadjasopkdoaskdopkasopdkpoaskdopaksopdkop
<br>
dsjadjasopkdoaskdopkasopdkpoaskdopaksopdkop

<div class="modal-content  default-bg" style="display:block !important;">
    <div class="modal-header bg-veritek">
        <i class="ion-android-warning modal-icon"></i><span> Please confirm removing / deleting</span>
    </div>
    <div class="modal-body text-center">

        <p class="text-align-left color-white"> Are you sure you want to proceed with this action?</p>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary replayFormButton" ng-click="login.yes()">Yes</button>
        <button type="button" class="btn btn-primary replayFormButton" ng-click="login.no()">No</button>
    </div>
</div>

    <!--</div>-->