
@import 'config.scss';

// injector
// endinjector


.sofija_stop{
    color: red;
}
.navbarContainer{
    background-color: $navbarBackground;
}
.navbarButton{
    width: 100%;
    margin-top: 5px;
    background-color: $navbarButtonBackGround;
    display: block;
    margin-left: 5px;
    
    > a{
        color:black;
    }
}

.default-bg{
    background-color: $black;
}

.green-login-input{
  background-color: $green;
  width: 100%;
  border-radius: 5px;
}
.green-bg{
  background-color: $green;
}

.red-bg{
  background-color: $red;
}

.text-color-white{
    color: $white;
}

.text-color-blue{
    color: $blue;
}

.text-align-center{
    margin:auto;
}





// zajeb za modale za verziju bootstrapa 4.0.0
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

//kraj zajeba